<!-- Max Number Directive -->
<!-- <input type="number" [maxNumber]="100" class="border" /> -->

<!-- Min Number Directive -->
<!-- <input type="number" [minNumber]="10" class="border" /> -->

<!-- Required Input Directive -->
<input type="text" required requiredInput class="border" />

<!-- Email Validator Directive -->
<input type="email" emailValidator class="border" />

<!-- Convert to Decimal Directive -->
<input type="text" aapConvertToDecimal class="border" />

<!-- Convert to Integer Directive -->
<input type="text" appConvertToInteger class="border" />
<input type="text"appConvertToNumber class="border" />
