  <verben-card-data-view border="5px" pd="5px 10px" [cardDataList]="cardData">

    <ng-template #card let-item card-body class="flex flex-col bg-yellow-500 border-r-4">
      <div>
        <span class="font-bold">{{item.title}}</span>
        <verben-svg icon="close" [width]="20" [height]="20" color="black"></verben-svg> 
      </div>
       @for (ciItem of item.body; track ciItem.value) {
        <div class="gap-2">
           <span class="text-gray-200">{{ciItem.title}}</span>
           <span>{{ciItem.value}}</span>
        </div>
       }
    </ng-template>
    <ng-template #rightContent>
        <div>hello</div>
    </ng-template>
  </verben-card-data-view>