<p>Use cases for icons</p>
   
  <div [ngStyle] = "{'display':'flex','gap':'10px' }"> 
    <verben-svg icon="alert" [width]="100" [height]="100" stroke="red" fill="red"></verben-svg>
    <verben-svg icon="alert" [width]="80" [height]="80" stroke="red" fill="white"></verben-svg>
    <verben-svg icon="alert" [width]="60" [height]="60" stroke="" fill="red"></verben-svg>
    <verben-svg icon="alert" [width]="40" [height]="40" fill="white" stroke="green"></verben-svg>
  </div>

<div [ngStyle] = "{'display':'flex','gap':'10px' }"> 
    <verben-svg icon="delete" [width]="100" [height]="100" stroke="blue" fill="blue"></verben-svg>
    <verben-svg icon="delete" [width]="80" [height]="80" fill="white" stroke="green"></verben-svg>
    <verben-svg icon="delete" [width]="60" [height]="60" fill="red" stroke="red"></verben-svg>
    <verben-svg icon="delete" [width]="40" [height]="40" fill="purple" stroke="purple"></verben-svg>
</div>

<div [ngStyle] = "{'display':'flex','gap':'10px' }"> 
    <verben-svg icon="close" [width]="100" [height]="100" stroke="blue" fill=""></verben-svg>
    <verben-svg icon="close" [width]="80" [height]="80" fill="" stroke="green"></verben-svg>
    <verben-svg icon="close" [width]="60" [height]="60" fill="" stroke="red"></verben-svg>
    <verben-svg icon="close" [width]="40" [height]="40" fill="" stroke="purple"></verben-svg>
</div>

<div [ngStyle] = "{'display':'flex','gap':'10px' }"> 
    <verben-svg icon="search" [width]="100" [height]="100" stroke="blue" fill=""></verben-svg>
    <verben-svg icon="search" [width]="80" [height]="80" fill="white" stroke="green"></verben-svg>
    <verben-svg icon="search" [width]="60" [height]="60" fill="" stroke="red"></verben-svg>
    <verben-svg icon="search" [width]="40" [height]="40" fill="" stroke="purple"></verben-svg>
</div>

