<form>
  <verben-drop-down></verben-drop-down>
  <verben-sort-table [columns]="['amount', 'name', 'date', 'category', 'rating']"></verben-sort-table>
  <verben-visible-column
  [columns]="['amount', 'name', 'date', 'category', 'rating','college']"
  [items]="[
    { amount: 200, name: 'Item A', date: '2023-01-01', category: 'Electronics', rating: 4.5 ,college:'absu'},
    { amount: 150, name: 'Item B', date: '2024-02-01', category: 'Books', rating: 3.5,college:'futo' },
    { amount: 300, name: 'Item C', date: '2023-01-01', category: 'Clothing', rating: 5.0,college:'futa' }
  ]">
</verben-visible-column>
<verben-data-view></verben-data-view>
  <verben-svg icon="alert" [width]="100" [height]="100" color="red"></verben-svg> 
  <verben-svg icon="alert" [width]="80" [height]="80" color="green"></verben-svg> 
  <verben-svg icon="user" [width]="60" [height]="60" color="blue"></verben-svg> 
  <verben-svg icon="user" [width]="40" [height]="40" color="yellow"></verben-svg> 
  <verben-image
  [url]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR94u0EyhIYQ35WVzV0LSlxZ0Ozv9tMqfzewA&s'" 
  [placeholder]="'assets/placeholder.png'" 
  [lazyLoad]="true"
  [width]="'600px'" 
  [height]="'500px'">
</verben-image>

  <!-- Max Number Directive -->
  <label for="maxNumber">Max Number:</label>
  <input type="number" appNumberRange [maxNumber]="10" />
  <br/>
  <br/>
  <!-- Min Number Directive -->
  <label for="minNumber">Min Number:</label>
  <input type="number" appNumberRange [minNumber]="10" class="border" />
  <br/>
  <br/>

  <label for="minMaxNumber">Min & Max Number:</label>
  <input type="number" appNumberRange [maxNumber]="10" [minNumber]="5" />
  <br/>
  <br/>
  <!-- Required Input Directive -->
  <label for="requiredInput">Required Input:</label>
  <input type="text" required requiredInput class="border" />
  <br/>
  <br/>
  <!-- Email Validator Directive -->
  <label for="emailValidator">Email Validator:</label>
  <input type="email" emailValidator class="border" />
  <br/>
  <br/>
  <!-- Convert to Decimal Directive -->
  <label for="convertToDecimal">Convert to Decimal:</label>
  <input type="text" convertToDecimal class="border" />

  <!-- Convert to Integer Directive -->
  <label for="convertToInteger">Convert to Integer:</label>
  <input  type="text" convertToInteger class="border" />
 <br/>
  <br/>
  <button type="submit">Submit</button>
  <div 
  controlOptions
  [hidden]="false"
  [disabled]="false"
  [height]="'300px'"
  [width]="'400px'"
  [minHeight]="'200px'"
  [maxHeight]="'500px'"
  [position]="'center'"
  [scrollable]="true"
  [border]="'1px solid black'"
  [borderRadius]="'10px'"
  [textColor]="'blue'"
  [backgroundColor]="'#f0f0f0'"
>
  Content with advanced optionsjjjj
</div>








</form>
