<form>
  <verben-drop-down></verben-drop-down>

  <verben-svg icon="alert" [width]="100" [height]="100" color="red"></verben-svg> 
  <verben-svg icon="alert" [width]="80" [height]="80" color="green"></verben-svg> 
  <verben-svg icon="user" [width]="60" [height]="60" color="blue"></verben-svg> 
  <verben-svg icon="user" [width]="40" [height]="40" color="yellow"></verben-svg> 

  <verben-image
  [url]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR94u0EyhIYQ35WVzV0LSlxZ0Ozv9tMqfzewA&s'" 
  [placeholder]="'assets/placeholder.png'" 
  [lazyLoad]="true"
  [width]="'600px'" 
  [height]="'500px'">
</verben-image>

  <!-- Max Number Directive -->
  <label for="maxNumber">Max Number:</label>
  <input type="number" appNumberRange [maxNumber]="10" />
  <br/>
  <br/>
  <!-- Min Number Directive -->
  <label for="minNumber">Min Number:</label>
  <input type="number" appNumberRange [minNumber]="10" class="border" />
  <br/>
  <br/>

  <label for="minMaxNumber">Min & Max Number:</label>
  <input type="number" appNumberRange [maxNumber]="10" [minNumber]="5" />
  <br/>
  <br/>
  <!-- Required Input Directive -->
  <label for="requiredInput">Required Input:</label>
  <input type="text" required requiredInput class="border" />
  <br/>
  <br/>
  <!-- Email Validator Directive -->
  <label for="emailValidator">Email Validator:</label>
  <input type="email" emailValidator class="border" />
  <br/>
  <br/>
  <!-- Convert to Decimal Directive -->
  <label for="convertToDecimal">Convert to Decimal:</label>
  <input type="text" convertToDecimal class="border" />

  <!-- Convert to Integer Directive -->
  <label for="convertToInteger">Convert to Integer:</label>
  <input type="text" convertToInteger class="border" />
 <br/>
  <br/>
  <button type="submit">Submit</button>

  <input type="text" appValidate="text" >
  <input type="text" appValidate="number">
  <input type="text" appValidate="decimal">
  <input type="text" appValidate="integer">
  <input type="email" appValidate="email">
</form>


<button class="relative p-2 bg-gray-200 rounded">
  Notifications
  <span appBadge="5" badgeColor="bg-red-900" class="bg-red-500" badgePosition="top-right"></span>
</button>

<body class="bg-white text-black dark:bg-gray-900 dark:text-white">
  <button appThemeSwitcher>Switch Theme</button>
</body>
<button appButton buttonType="icon-text" iconClass="fas fa-check">Save</button>


<!-- Example with custom color and class for the button -->
<button appThemeSwitcher [switchColor]="'red'" [switchClass]="'text-lg font-bold'">
  Toggle Dark Mode
</button>

<!-- Elements styled with Tailwind's dark mode -->
<div class="bg-white text-black dark:bg-gray-900 dark:text-white p-4">
  This section will toggle between light and dark modes!
</div>
