<form>
  <!-- Max Number Directive -->
  <label for="maxNumber">Max Number:</label>
  <input type="number" appNumberRange [maxNumber]="10" />





  <!-- Min Number Directive -->
  <label for="minNumber">Min Number:</label>
  <input type="number" appNumberRange [minNumber]="10" class="border" />

  <label for="minMaxNumber">Min & Max Number:</label>

  <input type="number" appNumberRange [maxNumber]="10" [minNumber]="5" />
  <!-- Required Input Directive -->
  <label for="requiredInput">Required Input:</label>
  <input type="text" required requiredInput class="border" />

  <!-- Email Validator Directive -->
  <label for="emailValidator">Email Validator:</label>
  <input type="email" emailValidator class="border" />

  <!-- Convert to Decimal Directive -->
  <label for="convertToDecimal">Convert to Decimal:</label>
  <input type="text" convertToDecimal class="border" />

  <!-- Convert to Integer Directive -->
  <label for="convertToInteger">Convert to Integer:</label>
  <input type="text" convertToInteger class="border" />

  <button type="submit">Submit</button>
</form>
