/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  // overflow-y: hidden;
}
verbena-button{
  padding: 4px;
  border-radius:5px;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: small;
}
