  <form>
  <verben-drop-down></verben-drop-down>

  <verben-svg icon="alert" [width]="100" [height]="100" color="red"></verben-svg>
  <verben-svg icon="alert" [width]="80" [height]="80" color="green"></verben-svg>
  <verben-svg icon="user" [width]="60" [height]="60" color="blue"></verben-svg>
  <verben-svg icon="user" [width]="40" [height]="40" color="yellow"></verben-svg>

  <verben-image
  [url]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR94u0EyhIYQ35WVzV0LSlxZ0Ozv9tMqfzewA&s'"
  [placeholder]="'assets/placeholder.png'"
  [lazyLoad]="true"
  [width]="'600px'"
  [height]="'500px'">
</verben-image>

  <!-- Max Number Directive -->
  <label for="maxNumber">Max Number:</label>
  <input type="number" appNumberRange [maxNumber]="10" />
  <br/>
  <br/>
  <!-- Min Number Directive -->
  <label for="minNumber">Min Number:</label>
  <input type="number" appNumberRange [minNumber]="10" class="border" />
  <br/>
  <br/>

  <label for="minMaxNumber">Min & Max Number:</label>
  <input type="number" appNumberRange [maxNumber]="10" [minNumber]="5" />
  <br/>
  <br/>
  <!-- Required Input Directive -->
  <label for="requiredInput">Required Input:</label>
  <input type="text" required requiredInput class="border" />
  <br/>
  <br/>
  <!-- Email Validator Directive -->
  <label for="emailValidator">Email Validator:</label>
  <input type="email" emailValidator class="border" />
  <br/>
  <br/>
  <!-- Convert to Decimal Directive -->
  <label for="convertToDecimal">Convert to Decimal:</label>
  <input type="text" convertToDecimal class="border" />

  <!-- Convert to Integer Directive -->
  <label for="convertToInteger">Convert to Integer:</label>
  <input type="text" convertToInteger class="border" />
 <br/>
  <br/>
  <verben-card width="100px" height="100px" bgColor="red"  pd="50px 30px">
    <div card-header>Test Header</div>
    <p card-body>This is the body of the card.</p>
    <div card-footer>Test Footer</div>
  </verben-card>
  <br>
  <button type="button" class="bg-blue-500" routerLink="card-data-view">Go to Card data view</button>
 <br>
  <button type="submit">Submit</button>
</form>

<h2>Validation Example</h2>

<form>
  <label for="textInput">Text Input (Required)</label><br>
  <input type="text" id="textInput" appValidate="text" [showBorder]="true" [showErrorMessage]="true" errorPosition="above"><br><br>

  <label for="numberInput">Number Input</label><br>
  <input type="text" id="numberInput" appValidate="number" [showBorder]="true" [showErrorMessage]="true" errorPosition="below"><br><br>

  <label for="decimalInput">Decimal Input</label><br>
  <input type="text" id="decimalInput" appValidate="decimal" [showBorder]="true" [showErrorMessage]="true" errorPosition="above"><br><br>

  <label for="integerInput">Integer Input</label><br>
  <input type="text" id="integerInput" appValidate="integer" [showBorder]="true" [showErrorMessage]="true" errorPosition="above"><br><br>

  <label for="emailInput">Email Input</label><br>
  <input type="text" id="emailInput" appValidate="email" [showBorder]="true" [showErrorMessage]="true" errorPosition="below"><br><br>
</form>

<p>home</p>


<verbena-input
  label="Convert to Decimal:"
  appValidate="decimal" [showBorder]="true" [showErrorMessage]="true" errorPosition="below"

  [minLength]="3"
  [maxLength]="10"
></verbena-input>
<verbena-input
  label="Convert to Decimal:"
  appValidate="number" [showBorder]="true" [showErrorMessage]="true" errorPosition="below"

  [minLength]="3"
  [maxLength]="10"
></verbena-input>


<verbena-input
  label="Username"
  bgColor="#f5f5f5"
  mg="10px"
  border="1px solid #ccc"
  borderRadius="5px"
  textColor="black"
  width="300px"
  height="40px"
  aspectRatio="2/1"
  pd="10px"
  placeHolder="Enter your username"
  [disable]="false"
  appValidate="number" [showBorder]="true" [showErrorMessage]="true" errorPosition="below"
></verbena-input>

<verbena-button
  text="Submit"
  icon="fa fa-check"
  bgColor="#28a745"
  textColor="white"
  border="1px solid #28a745"
  borderRadius="5px"
  pd="10px 20px"
  width="150px"
  height="40px"
></verbena-button>

<verbena-button
  text="Submit"
  icon="fa fa-check"
  iconPosition="left"
  bgColor="#28a745"
  textColor="white"
  border="1px solid #28a745"
  borderRadius="5px"
  pd="10px 20px"
  width="150px"
  height="40px"
></verbena-button>

<verbena-button
  icon="fa fa-home"
  bgColor="#007bff"
  textColor="white"
  border="none"
  borderRadius="50%"
  width="50px"
  height="50px"
></verbena-button>

<verbena-button
  text="Submit"
  icon="fa fa-check"
  bgColor="#28a745"
  textColor="white"
  border="1px solid #28a745"
  borderRadius="5px"
  pd="10px 20px"
  width="150px"
  height="40px"
></verbena-button>



<verbena-badge
  text="5"
  bgColor="#3498db"
  textColor="white"
  borderRadius="10px"
  pd="5px 8px"
  fontSize="12px"
></verbena-badge>

<verbena-badge
  text="New"
  bgColor="#2ecc71"
  textColor="white"
  pd="5px 15px"
  fontSize="12px"
></verbena-badge>

<verbena-textarea
  label="Comments"

  bgColor="#f8f8f8"
  textColor="#333"
  border="1px solid #ccc"
  borderRadius="5px"
  pd="8px"
  width="100%"
  height="100px"
></verbena-textarea>

<verbena-switch
  label="Enable Notifications"
  
></verbena-switch>
