<form>

  <verben-svg icon="alert" [width]="100" [height]="100" stroke="red" fill="red"></verben-svg>
  <verben-svg icon="alert" [width]="80" [height]="80" fill="green" stroke="green"></verben-svg>
  <verben-svg icon="user" [width]="60" [height]="60" stroke="blue" fill="blue"></verben-svg>
  <verben-svg icon="user" [width]="40" [height]="40" fill="yellow" stroke="yellow"></verben-svg>
  <verben-svg icon="home" [width]="20" [height]="20"  stroke="red"></verben-svg>
  <verben-svg icon="close" [width]="40" [height]="40"  stroke="green"></verben-svg>
  <verben-svg icon="academic-cap" [width]="40" [height]="40"  stroke="green"></verben-svg>
  <verben-svg icon="close" [width]="40" [height]="40"  stroke="yellow"></verben-svg>

  <verben-image
  [url]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR94u0EyhIYQ35WVzV0LSlxZ0Ozv9tMqfzewA&s'"
  [placeholder]="'assets/placeholder.png'"
  [lazyLoad]="true"
  [width]="'600px'"
  [height]="'500px'">
</verben-image>



<verben-table-filter
 border = '1px solid rgba(212, 160, 7, 1)'
 borderRadius = '10px'
 boxShadow = '2px 2px 2px 0px silver'
 bgColor = 'white'
 width = '400px'
 textColor = 'black'
 pd = '1rem'
 primaryColor="#FFE681"
 secondaryColor="#3479E9"
 tertiaryColor="#404040"
></verben-table-filter>


  <!-- Max Number Directive -->
  <label for="maxNumber">Max Number:</label>
  <input type="number" appNumberRange [maxNumber]="10" />
  <br />
  <br />
  <!-- Min Number Directive -->
  <label for="minNumber">Min Number:</label>
  <input type="number" appNumberRange [minNumber]="10" class="border" />
  <br />
  <br />

  <label for="minMaxNumber">Min & Max Number:</label>
  <input type="number" appNumberRange [maxNumber]="10" [minNumber]="5" />
  <br />
  <br />
  <!-- Required Input Directive -->
  <label for="requiredInput">Required Input:</label>
  <input type="text" required requiredInput class="border" />
  <br />
  <br />
  <!-- Email Validator Directive -->
  <label for="emailValidator">Email Validator:</label>
  <input type="email" emailValidator class="border" />
  <br />
  <br />
  <!-- Convert to Decimal Directive -->
  <label for="convertToDecimal">Convert to Decimal:</label>
  <input type="text" convertToDecimal class="border" />

  <!-- Convert to Integer Directive -->
  <label for="convertToInteger">Convert to Integer:</label>
  <input type="text" convertToInteger class="border" />
  <br />
  <br />
  <verben-card width="100px" height="100px" bgColor="red" pd="50px 30px">
    <div card-header>Test Header</div>
    <p card-body>This is the body of the card.</p>
    <div card-footer>Test Footer</div>
  </verben-card>
  <br>
  <button type="button" class="bg-blue-500" routerLink="card-data-view">Go to Card data view</button>
  <br>
  <button type="submit">Submit</button>
</form>

<h2>Validation Example</h2>

<form>
  <label for="textInput">Text Input (Required)</label><br>
  <input type="text" id="textInput" appValidate="text" [showBorder]="true" [showErrorMessage]="true" errorPosition="above"><br><br>

  <label for="numberInput">Number Input</label><br>
  <input type="text" id="numberInput" appValidate="number" [showBorder]="true" [showErrorMessage]="true" errorPosition="below"><br><br>

  <label for="decimalInput">Decimal Input</label><br>
  <input type="text" id="decimalInput" appValidate="decimal" [showBorder]="true" [showErrorMessage]="true" errorPosition="above"><br><br>

  <label for="integerInput">Integer Input</label><br>
  <input type="text" id="integerInput" appValidate="integer" [showBorder]="true" [showErrorMessage]="true" errorPosition="above"><br><br>

  <label for="emailInput">Email Input</label><br>
  <input type="text" id="emailInput" appValidate="email" [showBorder]="true" [showErrorMessage]="true" errorPosition="below"><br><br>
</form>

<p>home</p>


<verbena-input
  label="Convert to Decimal:"
  appValidate="decimal"

  [showBorder]="true"
  [showErrorMessage]="true"
  errorPosition="below"

  [minLength]="3"
  [maxLength]="10"
></verbena-input>
<verbena-input
  label="Convert to Decimal:"
  appValidate="number"
  [showBorder]="true"
  [showErrorMessage]="true"
  errorPosition="below"
  [minLength]="3"
  [maxLength]="10"
></verbena-input>


<verbena-input
  label="Enter my name"
  bgColor="#f5f5f5"
  mg="10px"
  border="1px solid #ccc"
  borderRadius="5px"
  textColor="black"
  width="300px"
  height="40px"
  aspectRatio="2/1"
  pd="10px"
  placeHolder="Enter your username"
  [disable]="false"
  appValidate="number"
  [errorMessageColor]="'yellow'"
  [showBorder]="true"
  [showErrorMessage]="false"
  [errorBorderColor]="'Yellow'"
  errorPosition="below"
></verbena-input>

<verbena-input
  label="new input"
  bgColor="#f5f5f5"
  mg="10px"
  border="1px solid blue"
  borderRadius="5px"
  textColor="black"
  width="300px"
  height="40px"
  aspectRatio="2/1"
  pd="10px"
  placeHolder="Enter your username"
  [disable]="false"
  appValidate="number"
  [errorMessageColor]="'blue'"
  [showBorder]="true"
  [showErrorMessage]="false"



></verbena-input>


<!-- position error message  -->
 <!-- focus border  -->

<verbena-input
  label="Username"
  [labelPosition]="'center'"
  [labelColor]="'blue'"
  bgColor="#f5f5f5"
  mg="10px"
  border="1px solid #ccc"
  borderRadius="5px"
  textColor="black"
  width="300px"
  height="40px"
  pd="10px"
  placeHolder="Enter your username"



  (valueChange)="onUsernameChange($event)"
></verbena-input>

<!-- label position -->



<button (mouseover)="tooltip.show()" (mouseout)="tooltip.hide()">Hover me</button>
<lib-tooltip
  #tooltip
  [message]="'This is a tooltip message!'"
  [backgroundColor]="'black'"
  [textColor]="'white'"
  [position]="{ top: '100%', left: '50%', transform: 'translateX(-50%)' }"
  [borderRadius]="'8px'"
></lib-tooltip>


<verbena-button
  text="Submit"

  bgColor="#28a745"
  textColor="white"
  border="1px solid #28a745"
  borderRadius="5px"
  pd="10px 20px"
  width="150px"
  height="40px"
></verbena-button>

<verbena-button
  text="Submit"
  svg="'alert'"
  iconPosition="left"
  bgColor="#28a745"
  textColor="white"
  border="1px solid #28a745"
  borderRadius="5px"
  pd="10px 20px"
  width="150px"
  height="40px"
></verbena-button>


<verbena-button
text="backward"
svg="backward"

  svgColor="'white'"
svgPosition="right"
bgColor="#28a745"
textColor="white"
border="1px solid #28a745"
borderRadius="5px"
pd="10px 20px"
width="150px"
height="40px"
>


</verbena-button>


<verbena-button
  svg="academic-cap"
  [svgHeight]="20"
  [svgWidth]="20"
  svgColor="'white'"
  text="Submit"
  bgColor="#4CAF50"
  textColor="#fff"
  border="none"
  borderRadius="4px"
  pd="8px 16px"


  svgPosition="right"
></verbena-button>

<verbena-button
  svg="chevron"
  [svgHeight]="10"
  [svgWidth]="10"
  svgColor="'white'"
  bgColor="#007bff"
  textColor="white"
  border="none"
  borderRadius="50%"
  width="50px"
  height="50px"

></verbena-button>

<verbena-button
  text="Submit"

  bgColor="#efc050"
  textColor="white"
  svg="home"
  [svgHeight]="20"
  [svgWidth]="20"
  svgColor="'white'"

  borderRadius="5px"
  pd="10px 20px"
  width="150px"
  height="40px"
></verbena-button>

<!-- fix to the center  -->
<!-- specify position of icon -->

<verbena-badge
  text="5"
  bgColor="#3498db"
  textColor="white"
  width="40px"
  height="40px"
  borderRadius="50%"
  pd="5px 8px"
  fontSize="20px"
></verbena-badge>

width and height

<br><br>
<verbena-badge
  width="100px"
  height="100px"
  borderRadius="50%"
  bgColor="green"
  text="new product"
></verbena-badge>


<verbena-input
  [label]="'Username'"
  [labelPosition]="'left'"
  [labelColor]="'blue'"
  [bgColor]="'#f0f0f0'"
  [width]="'100%'"
  appValidate="decimal"
></verbena-input>

<verbena-badge
  text="New"
  bgColor="red"
  textColor="white"
  pd="5px 15px"
  fontSize="12px"
></verbena-badge>

<input type="text" appValidate="email" [required]="true"  errorIconTooltipPosition="left">

<br><br><br>
<verbena-input
  [label]="'Username'"
  [labelPosition]="'left'"
  [labelColor]="'#efc050'"
> <br><br>

</verbena-input>

<verbena-textarea
  label="Comments"

  bgColor="#f8f8f8"
  textColor="#333"
  border="1px solid #ccc"
  borderRadius="5px"
  pd="8px"
  width="100%"
  height="100px"
></verbena-textarea>

<verbena-switch
  label="Enable Notifications"

></verbena-switch>

<!-- remove the checkbox  -->

<!-- svg inplace of icon  -->

<button (mouseover)="tooltip.show()" (mouseout)="tooltip.hide()">Hover me</button>
<lib-tooltip
  #tooltip
  [message]="'This is a tooltip message!'"
  [backgroundColor]="'black'"
  [textColor]="'white'"
  [position]="{ top: '100%', left: '50%', transform: 'translateX(-50%)' }"
  [borderRadius]="'8px'"
></lib-tooltip>




