.notifyBtn{
    background-color: grey;
    padding: 5px 8px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

.customNotifications{
    background: red;
    color: white;
}