<p>Use cases for notifications</p>
<button class="notifyBtn" (click) ="showNotificationComp1()">show from top right</button>
<verben-notification
 [content]="'Saved Successfully!'"
 [textColor] = "'#2DB76F'"
 [bgColor]="'#D6F3E6'"
 [width]="'400px'"
 [iconName]="'success'"
 [timeout]="2000"
 size="md"
 [stroke]="'#D6F3E6'"
 [showNotification] = "showNotification"
 position="top-right"
 [buttons]="[
        { text: 'Yes', bgColor: 'white', primarycolor : '#2DB76F',fontSize:'14px'  }
    ]"
    (buttonClick)="handleButtonClick($event)"
    (close)="closeNotificationComp1()"
></verben-notification>
<br />
<button class="notifyBtn" (click) ="showNotificationComp2()">show from middle left</button>
<verben-notification
 [content]="'Saved Successfully!'"
 [textColor] = "'#2DB76F'"
 [bgColor]="'#D6F3E6'"
 [width]="'650px'"
 [iconName]="'success'"
 [timeout]="4000"
 size="md"
 [stroke]="'#D6F3E6'"
 [showNotification] = "showNotification1"
 position="middle-left"
 [buttons]="[
        { text: 'Yes', bgColor: 'white', primarycolor : '#2DB76F',fontSize:'14px'  }
    ]"
    (buttonClick)="handleButtonClick($event)"
    (close)="closeNotificationComp2()"
></verben-notification>
<br />
<button class="notifyBtn" (click) ="showNotificationComp3()">show from bottom right</button>
<verben-notification
 [content]="'Are you sure you want to delete?'"
 [textColor] = "'#E20000'"
 [bgColor]="'#FFE681'"
 [width]="'650px'"
 [iconName]="'warning'"
 [timeout]="3000"
 size="md"
 [stroke]="'#E20000'"
 [fill]="'#E20000'"
 [buttons]="[
        { text: 'Yes', bgColor: 'white', primarycolor : '#E20000',fontSize:'14px' },
        { text: 'No', bgColor: 'white', primarycolor: 'black',fontSize:'14px'  }
    ]"
 [showNotification] = "showNotification2"
 position="bottom-right"
 (buttonClick)="handleButtonClick($event)"
    (close)="closeNotificationComp3()"
    [customClass]="'customNotifications'"
></verben-notification>

<!-- <p [ngStyle]="{'margin-top':'20px'}">Delete warning</p> -->

<!-- <verben-notification
 [content]="'Are you sure you want to delete?'"
 [textColor] = "'#E20000'"
 [borderRadius]="'15px'"
 [bgColor]="'#FFE681'"
 [width]="'650px'"
 [height]="'50px'"
 [iconName]="'warning'"
 [iconWidth]="25"
 [iconHeight]="25"
 [stroke]="'#E20000'"
 [fill]="'#E20000'"
 [buttons]="[
        { text: 'Yes', bgColor: 'white', primarycolor : '#E20000',fontSize:'14px' },
        { text: 'No', bgColor: 'white', primarycolor: 'black',fontSize:'14px'  }
    ]"
    (buttonClick)="handleButtonClick($event)"
></verben-notification>

<p [ngStyle]="{'margin-top':'20px'}">Delete error</p>

<verben-notification
 [content]="'Are you sure you want to delete?'"
 [textColor] = "'#E20000'"
 [borderRadius]="'15px'"
 [bgColor]="'#FFE681'"
 [width]="'650px'"
 [height]="'50px'"
 [iconName]="'dangerInfo'"
 [iconWidth]="26"
 [iconHeight]="26"
 [stroke]="'#E20000'"
 [fill]="'#E20000'"
 [buttons]="[
        { text: 'Retry', bgColor: 'white', primarycolor : '#E20000',fontSize:'14px' },
        { text: 'Ok', bgColor: 'white', primarycolor: 'black',fontSize:'14px'  }
    ]"
    (buttonClick)="handleButtonClick($event)"
></verben-notification> -->
