<p>tooltip-sample works!</p>

<p [ngStyle]="{'margin-top':'20px','padding-left':'100px'}"></p>

<div [ngStyle]="{'position':'relative','width':'300px',}"> 
    <span  (mouseenter)="showTooltip(0)" (mouseleave)="hideTooltip(0)">hover to show table</span>
    <verben-tooltip
    [backgroundColor]="'blue'" 
    [textColor]="'white'"
    [padding]="'10px'"
    [width]="''"
    [borderRadius]="'8px'"
    [top]="'100%'"                 
    [right]="'0'"   
    #tooltip
    *ngIf="tooltips[0]"
     >
    <div>
    <table>
      <tr>
        <td>Reference</td><td><strong>INV_001</strong></td>
      </tr>
      <tr>
        <td>Code</td><td><strong>Code123</strong></td>
      </tr>
      <tr>
        <td>Recurring</td><td><strong>1 Year</strong></td>
      </tr>
      <tr>
        <td>Dimension</td><td><strong>Dim_001</strong></td>
      </tr>
    </table>
    </div>
    </verben-tooltip>
</div>

<p [ngStyle]="{'margin-top':'20px'}"></p>
<div [ngStyle]="{'position':'relative'}"> 
    <span  
    (mouseenter)="showTooltip(1)" (mouseleave)="hideTooltip(1)">hover to show message</span>
    <verben-tooltip
    backgroundColor="black" 
    textColor="white"
    padding="10px"
    borderRadius="8px"
    width="150px"
    top="100%"                 
    left="0px"   
    #tooltip
    *ngIf="tooltips[1]"
    >
    <h3>Hello world!!</h3>
    </verben-tooltip>
</div>